
/*index body*/
body{
    font-family:Arial,SansMS,Grorgia,Trebuchet MS Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background: rgb(196, 212, 197);
    

}

body .container{
  
    width: 80%;
    margin: auto ;
}

body .indexSection{
width: 80%;
margin: auto;
}

   
    
header{
    background: #0a5583;
    color: #ffffff;
    min-height: 70px;
    border-bottom: #1a2a42 3px solid;
    width: 95%;
    margin: auto;

}
header a{
     color: #ffffff;
     text-decoration: none;
     text-transform: uppercase;
     font-size:16px;
    
}
header ul{
    margin: 0;
    padding: 0;
}
 header li {
     float: left;
     display: inline;
     padding : 0 10px 0 10px
 }
 header .Branding{
     float: left;
 }

header nav{
    float: right;
    margin-top: 30px ;
}
header a:hover{
    background-color:grey ;
    font-weight: bold;
}
header a:active{
    background-color: brown;
    color: red;
    font: bold;
} 
body aside{
    float:right;
    width: 20%;
    margin-top: 2%;
}

body .container {
    float:left;
    width: 70%;
    margin-left: 2%;
}

footer{
    width: 100%;
    text-align:center;
    min-height: 30px;
    background: #0a5583;
    margin: auto;
    }


    /*career body*/

    body .CareerAsScientist h2{
        text-align: left;
        
        }
        
    body .CareerAsScientist{
        margin: 0 10% auto 10%;
        
        }


/*Achivement body*/
      
        body .achiveSection{
        
            width: 80%;
            margin: 0 10% 0 10%;
            
        }
        body .achiveSection h2{
            text-align: left;
            
        }

        body .achiveInfoAboutMe{
            width: 80%;
            margin: 0 10% 0 10%;
        }
